/* General layout for the Admins page */
.reports-header {
    color: #2c3e50;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  /* Styling the table */
  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  thead th {
    background-color: #34495e;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
  }
  
  tbody td {
    padding: 0.75rem;
    text-align: center;
    color: #2c3e50;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }
  
  .report-approve-button,
  .report-delete-button {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s ease;
  }
  
  .report-approve-button {
      background-color: #3498db;
      color: #fff;
      margin-right: 0.5rem;
  }
  
  .report-approve-button:hover {
      background-color: #2980b9;
  }
  
  .approved {
      background-color: #cccccc;
      cursor: default;
  }
  
  .approved:hover {
      background-color: #cccccc;
  }
  
  .report-delete-button {
      background-color: #e74c3c;
      color: #fff;
  }
  
  .report-delete-button:hover {
      background-color: #c0392b;
  }

  .print-buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 1rem;
}

.print-button {
    background-color: #2ecc71; /* Green color */
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.print-button:hover {
    background-color: #27ae60; /* Darker green on hover */
}

.print-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
  
  /* Responsive design for mobile */
  @media (max-width: 768px) {
    table {
      width: 100%;
    }
  
    .report-header {
      font-size: 1.5rem;
      margin: 1rem;
    }
  
    thead th,
    tbody td {
      padding: 0.5rem;
    }

    .print-buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .print-button {
        width: 100%;
        order: 1;
    }
  }
  